<div class="container-fluid text-center">
  <h1>Bienvenido al sistema de Biodigestores</h1>
  <div class="card" style="width: 18rem">
    <div align="center">
      <img src="assets/biogs.png" alt="biodigestor" width="200" height="200" />
    </div>
    <div class="card-body">
      <p class="card-text">
        <b>
          Es un recipiente o tanque (cerrado herméticamente) que se carga con
          residuos orgánicos. En su interior se produce la descomposición de la
          materia orgánica para generar biogás, un combustible con el cual se
          puede cocinar, calentar agua y producir energía eléctrica, mediante un
          generador a gas.
        </b>
      </p>
    </div>
  </div>
</div>